.env
.env.*

!/.env.example


/venv/
/.venv/
/env/



/db.sqlite3
/db.sqlite3-journal

/media/

/staticfiles/
/static_root/

*.log
logs/


__pycache__/
*.py[cod]
*$py.class


/.vscode/
/.idea/
*.sublime-*
*.swp


# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini



.coverage
.coverage.*
/htmlcov/
.pytest_cache/

jsonquestions.txt
jsonquestions_2.txt
jsonquestions_3.txt

db.sqlite3

.ruff_cache