amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.3
certifi==2025.1.31
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.43.0
colorama==0.4.6
dj-database-url==2.3.0
Django==5.1.7
fanstatic==1.5
flower==2.0.1
gunicorn==23.0.0
humanize==4.12.3
idna==3.10
js==1.0
kombu==5.5.4
legacy-cgi==2.6.3
packaging==24.2
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
PyMuPDF==1.26.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
PyYAML==6.0.2
redis==6.3.0
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tornado==6.5.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
WebOb==1.8.9
whitenoise==6.9.0
