{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Main page — Quiz</title>
    <link rel="stylesheet" href="{% static 'interview_app/css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <h1>Yo Gurt!</h1>

        <div class="button-container">
            <a href="{% url 'quiz-start'%}" class="start-quiz-button">Start Classic Quiz</a>
            
            <a href="{% url 'ai-quiz-start' %}" class="start-quiz-button ai-button">Start AI Quiz (Random)</a>
        </div>
        
        <hr>
        <h3>Or start a quiz by category:</h3>
        <div class="category-grid">
            {% for category in categories %}
                <a href="{% url 'ai-quiz-start-category' category.id %}" class="category-button">
                    {{ category.name }}
                </a>
            {% empty %}
                <p>No categories found yet. Run the categorization script.</p>
            {% endfor %}
        </div>


        <hr style="margin-top: 30px;">
        <p>Questions you can find here:</p>

        <ul class="questions-list">
            {% for question in questions %}
                <li>{{ question.id }}. {{ question.question|truncatechars:80 }}</li>
            {% empty %}
                <li>There are no questions yet.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>